table.tablesorter {
	font-size: 12pt; /*12px;*/
	/*background-color: #4D4D4D;*/
	width: 98%; /*1024px;*/
	border: 1px solid #000;
	border-collapse: collapse;
}
table.tablesorter th {
	text-align: left; /*center?*/
	padding: 5px;
	background-color: #665; /*#6E6E6E;*/
	font-size: 1.2em;
	font-weight: bold;
	color: #FFF;
}

table.tablesorter td {
	color: black; /*FFF;*/
	padding: 5px;
}
table.tablesorter .even {
	background-color: /*#3D3D3D;*/
}
table.tablesorter .odd {
	background-color: #CCC; /*#6E6E6E;*/
}
table.tablesorter .header {
	background-image: url(../img/bgnd.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
table.tablesorter .headerSortUp {
	background-image: url(../img/asc.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(../img/des.png);
	background-repeat: no-repeat;
}